[submodule "rest-api"]
	path = rest-api
	url = https://github.com/feira-de-jogos/rest-api
[submodule "frontend"]
	path = frontend
	url = https://github.com/feira-de-jogos/frontend
[submodule "adcieqipt20241-nlentertainment-jogo"]
	path = adcieqipt20241-nlentertainment-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-nlentertainment-jogo
[submodule "adcieqipt20241-vimdoalegrete-jogo"]
	path = adcieqipt20241-vimdoalegrete-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-vimdoalegrete-jogo
[submodule "adcieqipt20241-Karolzinha-e-Loulou-avadakedavra"]
	path = adcieqipt20241-Karolzinha-e-Loulou-avadakedavra
	url = https://github.com/ederson-torresini/adcieqipt20241-Karolzinha-e-Loulou-avadakedavra/
[submodule "adcieqipt20241-Thuthu-e-Aninha-jogo"]
	path = adcieqipt20241-Thuthu-e-Aninha-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-Thuthu-e-Aninha-jogo
[submodule "adcieqipt20241-huntersofancientbeasts-jogo"]
	path = adcieqipt20241-huntersofancientbeasts-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-huntersofancientbeasts-jogo/
[submodule "adcieqipt20241-vitorhlmm-Jogo"]
	path = adcieqipt20241-vitorhlmm-Jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-vitorhlmm-Jogo
